@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP121</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP121.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ASP121</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index">Крамниця</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="Index">Пошук</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Translator" asp-action="Index">Перекладач</a>
                        </li>
                    </ul>
                </div>
                @if (Context.User.Identity?.IsAuthenticated == true)
                {
                    String? avatar =
                        Context.User.Claims
                            .FirstOrDefault(c => c.Type == ClaimTypes.UserData)
                            ?.Value;

                    <img src="/uploads/@avatar" alt="Ava" class="rounded-circle" style="max-width: 40px" />
                    @*
                        Д.З. Додати посилання/кнопку для вихода (Sign Out)
                        При натисненні скидається автентифікація та відбувається перехід
                        на домашню сторінку.
                        У контроллері утворюємо метод SignOut і саме на нього робимо посилання
                        Цей метод має прибрати з сесії дані про користувача (id), але
                        небажана повністю стирати сесію - тільки дані автентифікації.
                        Метод має повертати результат-Redirect на головну сторінку, це
                        змусить браузер перейти на неї
                    *@
                }
                else
                {
                    <!-- Button trigger modal -->
                    <i class="bi-person-lock text-dark mx-3"
                       data-bs-toggle="modal"
                       data-bs-target="#signinModal"
                       style="font-size:1.7rem;"
                       role="button"
                       title="Вхід до системи"></i>

                    <a asp-controller="User" asp-action="SignUp"
                       title="Реєстрація"><i class="bi-person-add text-dark mx-3" 
                       style="font-size:1.7rem;"></i></a>
                }                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ASP121 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signinModalLabel">Вхід до системи</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text py-0 px-2"
                              id="signin-login-addon"><i class="bi-person fs-bi"></i></span>
                        <input type="text" class="form-control"
                               id="signin-login" name="signin-login"
                               placeholder="Введіть логін"
                               aria-describedby="signin-login-addon">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text py-0 px-2"
                              id="signin-password-addon"><i class="bi-lock fs-bi"></i></span>
                        <input type="password" class="form-control"
                               id="signin-password" name="signin-password"
                               placeholder="Введіть пароль"
                               aria-describedby="signin-password-addon">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                    <button type="button" class="btn btn-primary" id="signin-button">Вхід</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
