@model ASP121.Models.Search.SearchWebModel
@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <h1 class="display-4">Когнітивні сервіси. Пошук.</h1>
</div>

<div class="row">
    <div class="col col-7 offset-2">
        <form>
            <label for="search" class="form-label">Що шукаємо?</label>
            <div class="input-group mb-3">
                <span class="input-group-text py-0 px-2"
                      id="search-addon"><i class="bi bi-search"></i></span>
                <input type="text" class="form-control"
                       id="search" name="search"
                       placeholder="Введіть пошуковий запит"
                       aria-describedby="search-addon">
                <button class="btn btn-secondary" type="submit">Пошук</button>
            </div>
        </form>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Веб-сторінки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Зображення</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Search" asp-action="Video"
        asp-route-search="@Model.SearchWebResponse?.queryContext.originalQuery">Відео</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Новини</a>
    </li>
</ul>

@if(Model.SearchWebResponse != null)
{
    <p>
        За запитом 
        <b>@Model.SearchWebResponse.queryContext.originalQuery</b> 
        знайдено
        <b>@Model.SearchWebResponse.webPages.totalEstimatedMatches</b>
        веб-сторінок: 
    </p>
    foreach(var result in Model.SearchWebResponse.webPages.value)
    {
        @Html.DisplayFor(m => result, "WebSearchResultTemplate")
    }
}
