@{
    ViewData["Title"] = "Azure";
}

<div class="text-center">
    <h1 class="display-4">Публікація проєкта на Azure</h1>
</div>

<p>
    Публікація проєкту (Deploy) - розміщення кодів ресурсу на віддалених
    серверах, що підтримують його роботу.
</p>
<p>
    По факту ми маємо два проєкти: один локальний, який запускається у
    Студії, та віддалений (опублікований), який доступний у мережі.
    Відрізнити їх можна за адресою у браузері - у локального це localhost.
    Локальний проєкт при запуску має доступ до файлової системи ПК, а
    також до встановлених на ньому програм. Опублікований - тільки до 
    тих файлів, що були переміщені на сервер.
    !! Публікація повністю замінює файли на сервері, це може стерти
    результати попередньої роботи.
</p>
<p>
    Організація публікації:
    На Azure створюємо сервіс AppService - WebApp,
    утворюємо ресурсну групу, це дозволить групувати проєкти,
    встановлюємо ім'я сайту (підібрати вільне), встановлюємо тарифний план
    (! відпочатку пропонується не безкоштовний план)
    чекаємо на розгортання ресурсу. Звертаємо увагу на операційну систему,
    яка буде створена, та обираємо оточення (версію .NET), яка має збігатись
    із версією сайту, що розробляється (ASP-проєкту).

    Після того як ресурс готовий, налаштовуємо профіль публікації у Студії.
    Меню Build -- Publish або ПКМ по проєкту в експлорері -- Publish.
    Зазначаємо підключення до Azure, обираємо обліковий запис,
    після вибору облікового запису автоматично підтягуються відомості про
    ресурси, обираємо створений веб-ресурс.
    Обираємо систему збирання (має відповідати системі, що зазначена при
    створенні ресурсу).

    Після створення профілю публікації запускаємо саму публікацію.
    За фактом успішної публікації буде відкрито браузер на опублікованому
    сайті.
</p>
<p>
    По факту внесення змін до локального проєкту їх бажано перевірити 
    на localhost після чого опублікувати. При раніше створеному профілі
    достатньо просто натиснути "Publish"
</p>
Д.З. Опублікувати ASP проєкт, доповнити сторінку з інструкціями про 
публікацію скріншотами. Прикласти посилання на створений сайт.