@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP - Active Server Pages</h1>
</div>

<h3>
    <a href="/Home/Intro">Вступ</a>
</h3>
<h3>
    <a href="/Home/Basics">Огляд MVC</a>
</h3>
<h3>
    <a href="/Home/Razor">Огляд Razor</a>
</h3>
<h3>
    <a asp-controller="Home" asp-action="Services">Служби</a>
</h3>
<h3>
    <a asp-controller="Home" asp-action="Sessions">Сесії, Middleware, Автентифікація</a>
</h3>
<h3>
    <a asp-controller="Home" asp-action="API">Web API</a>
</h3>

<h3>
    <a asp-controller="Home" asp-action="Azure">Публікація на Azure</a>
</h3>
<h3>
    <a asp-controller="Cosmos" asp-action="Index">Бази даних Azure</a>
</h3>